<p>movie-timings works!</p>
<div class= "container-fluid"> 
   
            <input class="btn btn-primary" type="button" value="Add show"></div>
        <div class="col-1"></div>
 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">s.no</th>
        <th scope="col">theatre</th>
        <th scope="col">movie</th>
        <th scope="col">start/end date</th>
        <th scope="col">start/end time</th>
        <th scope="col">gold</th>
        <th scope="col">odc</th>
        <th scope="col">box</th>
        <th scope="col">delete</th>
        <th scope="col">modify</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="deleteRow">
            Delete
            </button></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="deleteRow">
            Delete
            </button></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
        <td><button type="button" class="deleteRow">
            Delete
            </button></td>
        <td></td>
      </tr>
    </tbody>
  </table>