<div class="container">
    <div class="row">
        <div class="col-12 navbar navbar-black">
            <div class="navbar-brand">
                <strong>
                    <h1>Add Movie</h1>
                </strong>
            </div>
            <div class="d-flex">
                <a class="navbar-brand">Admin > Movie > Add Movie</a>
            </div>
        </div>
    </div>
    <form [formGroup]="editMovieDataForm">
        <div class="row">
            <div class="col-2">
                <p>Id:</p>
                <input class="form-control" type="text" formControlName="movieName" />
                <div
                    *ngIf="editMovieDataForm.get('id')?.hasError('required') && (editMovieDataForm.get('id')?.dirty||editMovieDataForm.get('id')?.touched)">
                    <div class="alert-danger">Movie id is required</div>
                </div>
                <p>
            </div>
            <div class="col-10">
                <p>Movie Name:</p>
                <input class="form-control" type="text" formControlName="movieName" />
                <div
                    *ngIf="editMovieDataForm.get('movieName')?.hasError('required') && (editMovieDataForm.get('movieName')?.dirty||editMovieDataForm.get('movieName')?.touched)">
                    <div class="alert-danger">Movie name is required</div>
                </div>
                <p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Movie Youtube Trailer Link:</p>
                <input class="form-control" type="text" formControlName="trailer" />
                <div
                    *ngIf="editMovieDataForm.get('trailer')?.hasError('required') && (editMovieDataForm.get('trailer')?.dirty||editMovieDataForm.get('trailer')?.touched)">
                    <div class="alert-danger">Trailer is required</div>
                </div>
                <div *ngIf="editMovieDataForm.get('trailer')?.hasError('pattern')">
                    <div class="alert-danger">Please provide a valid URL</div>
                </div>
                <p>
            </div>
            <div class="col-12">
                Movie Poster (new):
                <br>
                <input type="file" formControlName="moviePoster" (change)="onFileSelect($event)" #fileUpload>

                <!-- <div class="file-upload">
                    {{fileName || "No file uploaded yet."}}
                    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                        attach_file
                    </button>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Movie Details:</p>
            </div>
            <div class="col-12">
                <textarea rows="6" cols="50" type="text" class="form-control" type="text"
                    formControlName="movieDetails"></textarea>
                <div
                    *ngIf="editMovieDataForm.get('movieDetails')?.hasError('required') && (editMovieDataForm.get('movieDetails')?.dirty||editMovieDataForm.get('movieDetails')?.touched)">
                    <div class="alert-danger">Movie details are required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Cast:</p>
            </div>
            <div class="col-12">
                <textarea rows="4" cols="50" type="text" class="form-control" type="text"
                    formControlName="movieCast"></textarea>
                <div
                    *ngIf="editMovieDataForm.get('movieCast')?.hasError('required') && (editMovieDataForm.get('movieCast')?.dirty||editMovieDataForm.get('movieCast')?.touched)">
                    <div class="alert-danger">Movie cast is required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Facts:</p>
            </div>
            <div class="col-12">
                <textarea rows="6" cols="50" type="text" class="form-control" type="text"
                    formControlName="movieFacts"></textarea>
                <div
                    *ngIf="editMovieDataForm.get('movieFacts')?.hasError('required') && (editMovieDataForm.get('movieFacts')?.dirty||editMovieDataForm.get('movieFacts')?.touched)">
                    <div class="alert-danger">Movie facts are required</div>
                </div>
            </div>
        </div>
        <div class="row bottomRow">
            <div class="col-12">
                <p>IMDB rating:</p>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" type="text" formControlName="IMDBRating" />
                <div
                    *ngIf="editMovieDataForm.get('IMDBRating')?.hasError('required') && (editMovieDataForm.get('IMDBRating')?.dirty||editMovieDataForm.get('IMDBRating')?.touched)">
                    <div class="alert-danger">IMDB rating is required</div>
                </div>
                <div
                    *ngIf="editMovieDataForm.get('IMDBRating')?.hasError('max')">
                    <div class="alert-danger">IMDB rating cannot be greater then 10</div>
                </div>
                <div
                    *ngIf="editMovieDataForm.get('IMDBRating')?.hasError('pattern')">
                    <div class="alert-danger">IMDB rating can only be a integer</div>
                </div>
            </div>
            <div class="col-9" id="submit">
                <button type="button" class="btn btn-danger" (click)="GotoMovies()">Add movie</button>
            </div>
            <br>
        </div>
    </form>
</div>