
<nav  class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#">MALWA</a>
      <p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>bl
      </button></p>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="Home" ><a routerLink="home">Home</a></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="Movies" routerLink="buy">Movies</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="Rates&Shows" src="">Rates&Shows</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="BuyTickets" src="">BuyTickets</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="WatchTrailer" src="">WatchTrailer</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="AboutUs" src="">AboutUs</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-dark" value="ContactUs" src="">ContactUs</button>
          </li>  
          
        </ul>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button></form>
          
        <p *ngIf="loggedInUser==null">
            
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseExample">
              SignUp
            </button>
          </p>
        <div  class="collapse collapse-horizontal" id="collapseWidthExample" *ngIf="loggedInUser==null">
          
          <form class="d-flex">
          <button class="btn btn-outline-danger" value="signin" ><a routerLink="signin">signin</a></button>
          <br>
         <a routerLink="content"><button class="btn btn-outline-primary" value="Register" >Register</button></a>
        </form>
      </div>
      </div>
      
    </div>
    <div class="btn btn-outline-dark" *ngIf="loggedInUser!=null">WELCOME USER {{loggedInUser}}
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button> 
    </div>
    

    </nav>
 
<router-outlet></router-outlet>

