<div class="container">
    <div class="row">
        <div class="col-12 navbar navbar-black">
            <div class="navbar-brand"><strong><h1>Dashboard</h1></strong> <h5>(Control Panel)</h5></div>
            <div class="d-flex">
                <a class="navbar-brand">Admin > Dashboard</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="container bg-info card">
                <div class="row">
                    <div class="col-6"><h1>{{users}}</h1>Users</div>
                    <div class="col-6 tabImages">
                        <img src="assets\Images\admin\adminDashboard\users.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container bg-success card">
                <div class="row">
                    <div class="col-6"><h1>{{theatres}}</h1>Theatres</div>
                    <div class="col-6">
                        <img src="assets\Images\admin\adminDashboard\Theatres.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container bg-danger card">
                <div class="row">
                    <div class="col-6"><h1>{{movies}}</h1>Movies</div>
                    <div class="col-6">
                        <img src="assets\Images\admin\adminDashboard\Movies.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container bg-warning card">
                <div class="row">
                    <div class="col-6"><h1>{{bookings}}</h1>Bookings</div>
                    <div class="col-6">
                        <img src="assets\Images\admin\adminDashboard\Bookings.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>