<p>home-page works!</p>
<img src="https://source.unsplash.com/random/350x300/?wallpaper,movieposter" class="img-thumbnail" alt="...">
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestias assumenda nemo? Saepe maxime ducimus dolores cum iure ex eveniet veniam nobis fuga tempore accusamus, unde pariatur ab atque ipsa!
    </p>
</div>
<div class= "container-fluid"> 
   
    <input class="btn btn-primary box" type="button" value="Activated"></div>
<div class="col-1"></div>