<section class="h-100 h-custom gradient-custom-2">
  <form [formGroup]="loginform" (ngSubmit)="save()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Mr</option>
                      <option value="2">Mrs</option>
                      
                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev2" formControlName="first_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2"><h6>First name*</h6></label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev3" formControlName="last_name" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3"><h6>Last name*</h6></label>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender* </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" checked />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                      value="option3" />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>

                </div>
              

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="email" id="form3Examplev4" formControlName="email" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4"><h6> Email Address*</h6></label>
                    </div>
                    <div class="form-outline">
                      <input type="email" id="form3Examplev4"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4"><h6>Confim Email Address*</h6></label>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" mb-4 pb-2 mb-md-0 pb-md-0">

                      <div class="form-outline">
                        <input type="password" id="form3Examplev4" formControlName="password"class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev4"><h6> Password*</h6></label>
                      </div>
                      <div class="form-outline">
                        <input type="password" id="form3Examplev4" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev4"><h6> Cofirm password*</h6></label>
                      </div>
                      <a routerLink="/signin" style="color: blue; margin-top: 10px;" >Already a user? Click here</a>

                    </div>
                    <div class="col-md-6">

                     

                    </div>
                  </div>

                </div>
              </div>
             
                  

                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                      site.
                    </label>
                  </div>

                  <button type="submit" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Register</button>
                    

                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
