html { height: 100%; }

body { min-height: 100%; }

.leftContainer{
    padding: 0;
}

.navbarTab{
    min-height: 63px;
    display:flex;
    align-items: center;
}

.navbarTabTitle{
    min-height: 65px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* background color */
.left{
    background-color: #2b5682;
    color: white;
}

.right{
    background-color: lightblue;
}

.navbarTab:hover{
    background-color: #122d47;
}

.active, .navbarTab:active{
    background-color: #0c1d2e;
    font-weight:bool;
}
.hignlight{
    background-color: #0c1d2e;
}

/* images */
#adminLogo{
    height: 40px;
    border-radius: 50%;
}

#adminPhoto{
    height: 65px;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 12px;
}

.navbarLogos{
    height: 20px;
    margin: 12px;
}

