<div class="container-fluid">
    <div class="row">
        <div class="col-12 navbar navbar-dark bg-primary">
            <!-- <div class="container-fluid navbar navbar-dark bg-primary"> -->
            <a class="navbar-brand">Movie Booking System - Admin Portal</a>
            <div class="d-flex">
                <img src="assets\Images\adminLogo.png" id="adminLogo" alt="admin logo">
                <a class="navbar-brand">Super Admin</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-3 left">
            <div class="container-fluid leftContainer">
                <div class="row">
                    <div class="col-12 navbarTabTitle">
                        <img src="assets\Images\adminPhoto.png" id="adminPhoto" alt="admin photo">
                        Name
                    </div>
                </div>
                <a routerLink="dashboard">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\dashboardLogo.png" class="navbarLogos" alt="navbar Logo">
                            Dashboard
                        </div>
                    </div>
                </a>
                <a routerLink="movie-theatres">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Movie Theatres
                        </div>
                    </div>
                </a>
                <a routerLink="movies">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Movies
                        </div>
                    </div>
                </a>
                <a routerLink="movie-timings">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Movie Timings
                        </div>
                    </div>
                </a>
                <a routerLink="home-page">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Home Page
                        </div>
                    </div>
                </a>
                <a routerLink="users">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Users
                        </div>
                    </div>
                </a>
                <a routerLink="booking">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Booking
                        </div>
                    </div>
                </a>
                <a routerLink="update-password">
                    <div class="row">
                        <div class="col-12 navbarTab">
                            <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                            Update Password
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-9 right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>