<div class="container-fluid">
    <div class="row">
        <div class="col-12 navbar navbar-dark bg-primary">
            <!-- <div class="container-fluid navbar navbar-dark bg-primary"> -->
            <a class="navbar-brand">Movie Booking System - Admin Portal</a>
            <div class="d-flex">
                <img src="assets\Images\adminLogo.png" id="adminLogo" alt="admin logo">
                <a class="navbar-brand">Super Admin</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-3 left">
            <ul class="nav">
                <div class="container-fluid leftContainer">
                    <li class="row">
                        <div class="col-12 navbarTabTitle">
                            <img src="assets\Images\adminPhoto.png" id="adminPhoto" alt="admin photo">
                            Name
                        </div>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="dashboard">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\dashboardLogo.png" class="navbarLogos" alt="navbar Logo">
                                    Dashboard
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="movie-theatres">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Movie Theatres
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="movies">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Movies
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="movie-timings">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Movie Timings
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="home-page">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Home Page
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="users" class="navbarTab">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Users
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="booking">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Booking
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item row" routerLinkActive="active">
                        <a routerLink="update-password">
                            <div class="row">
                                <div class="col-12 navbarTab">
                                    <img src="assets\Images\navbarLogos.png" class="navbarLogos" alt="navbar Logo">
                                    Update Password
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-9 right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>